*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
.ipynb_checkpoints
*.log.*
node_modules/
.sass-cache/
Untitled*
/.bundle/
/vendor/bundle
*.gem
code/*
yarn.lock
package-lock.json
Gemfile.lock
/sources/2022/05/27/page13/code
_site/
.jekyll-metadata
.jekyll-cache/
